MODEL TRAINING

In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('data/thyroid_data.csv')

In [6]:
data.head()

,S.no,Age,Sex,On Thyroxine,Query on Thyroxine,On Antithyroid Medication,Sick,Pregnant,Thyroid Surgery,I131 Treatment,...,TSH,T3 Measured,T3,TT4 Measured,TT4,T4U Measured,T4U,FTI Measured,FTI,Category
0,0,41,F,f,f,f,f,f,f,f,...,1.3,t,2.5,t,125,t,1.14,t,109,negative
1,1,23,F,f,f,f,f,f,f,f,...,4.1,t,2,t,102,f,?,f,?,negative
2,2,46,M,f,f,f,f,f,f,f,...,0.98,f,?,t,109,t,0.91,t,120,negative
3,3,70,F,t,f,f,f,f,f,f,...,0.16,t,1.9,t,175,f,?,f,?,negative
4,4,70,F,f,f,f,f,f,f,f,...,0.72,t,1.2,t,61,t,0.87,t,70,negative

In [7]:
data=data.drop([ 'S.no','On Thyroxine', 'Query on Thyroxine',
       'On Antithyroid Medication',
       'I131 Treatment', 'Query Hypothyroid', 'Query Hyperthyroid', 'Lithium',
        'TSH Measured','Hypopituitary','Psych',
       'T3 Measured',  'TT4 Measured', 'T4U Measured', 
       'FTI Measured'],axis=1)

In [8]:
data.head()

,Age,Sex,Sick,Pregnant,Thyroid Surgery,Goitre,Tumor,TSH,T3,TT4,T4U,FTI,Category
0,41,F,f,f,f,f,f,1.3,2.5,125,1.14,109,negative
1,23,F,f,f,f,f,f,4.1,2,102,?,?,negative
2,46,M,f,f,f,f,f,0.98,?,109,0.91,120,negative
3,70,F,f,f,f,f,f,0.16,1.9,175,?,?,negative
4,70,F,f,f,f,f,f,0.72,1.2,61,0.87,70,negative

In [11]:
# Independent and dependent features
X=data.drop(labels=['Category'],axis=1)
Y=data['Category']